/* Grids and so on */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** global elements, such as header and footer **/
@media screen and (min-width: 680px) {
  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 2%;
    margin: 0 0 4vw;
  }

  .logo {
    width: 80px;
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
  }

  #dropdown {
    min-width: 10%;
  }

  #dropdown a {
    display: block;
    padding: 10px;
  }

  ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
  }

  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    z-index: 10;
  }
  /* burger menu desktop */

  .burger {
    display: none;
  }

  /** index page **/

  .index-text {
    display: grid;
    grid-template-columns: auto;
    position: relative;
    justify-items: center;
    align-items: center;
    padding: 0 50%;
    z-index: 8;
  }

  .index-text > :nth-child(1) {
    position: relative;
    left: -100%;
    top: 30%;
    z-index: 1;
  }

  .index-text > :nth-child(2) {
    position: relative;
    left: -103%;
    z-index: 1;
  }

  .index-text > :nth-child(3) {
    position: relative;
    left: -65%;
    top: -120%;
  }

  .index-text > :nth-child(4) {
    position: relative;
    left: -20%;
    top: -180%;
    z-index: 1;
  }

  .index-text > :nth-child(5) {
    position: relative;
    left: -20%;
    top: -210%;
    z-index: 1;
  }

  .heywood-underline {
    height: 2px;
    width: 12.5rem;
    position: relative;
    border-radius: 100px;
    bottom: 10390%;
    left: -0.5%;
  }

  .heywood-underline2 {
    height: 2px;
    width: 6rem;
    position: relative;
    border-radius: 100px;
    bottom: 10500%;
    right: 56%;
  }

  .svg-decorations {
    position: relative;
  }

  .decoration {
    position: absolute;
    z-index: 1;
  }

  .index-sect2-border > * {
    margin: -10px;
    z-index: 9;
    position: relative;
  }

  .index-sect2 {
    padding: 2em 5em 2em;
    gap: 6em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    z-index: 2;
    position: relative;
  }

  .index-link-portfolio {
    grid-column: 1/2;
    grid-row: 1;
    z-index: 2;
    text-align: center;
    font-size: 1.7vw;
  }

  .index-cloud-1 {
    grid-column: 1/2;
    grid-row: 1;
    z-index: 1;
    width: 100%;
    transition: 0.2s ease;
  }

  .index-cloud-1:hover {
    scale: 1.1;
    transition: 0.2s ease;
  }

  .index-link-about {
    grid-column: 2/-1;
    grid-row: 1;
    z-index: 2;
    font-size: 1.7vw;
    text-align: center;
  }

  .index-cloud-2 {
    grid-column: 2/-1;
    grid-row: 1;
    z-index: 1;
    width: 100%;
    transition: 0.2s ease;
  }

  .index-cloud-2:hover {
    scale: 1.1;
    transition: 0.2s ease;
  }

  /** portfolio area **/

  .main-portfolio {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .wrapper {
    max-width: 35em;
    margin: auto;
  }

  .wrapper p {
    margin-bottom: 1em;
  }

  .wrapper > div {
    padding: 7rem 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }

  .text {
    grid-column: 1/-1;
    grid-row: 1;
  }

  .portfolio-links {
    padding: 1em;
    display: block;
    grid-column: 1/2;
    height: fit-content;
    width: fit-content;
  }

  .take-away {
    padding: 2em;
    grid-row-end: 6;
    grid-column: 2/-1;
    grid-row-start: 2;
  }

  .cat {
    width: 250px;
    margin: auto;
  }

  #animation .take-away {
    align-self: start;
  }

  .animation-screenshot-container {
    grid-column: 1/-1;
    width: 100% !important;
  }

  .animation-screenshot {
    width: 100%;
  }

  .bg-div {
    position: relative;
  }

  .basic-uxui-info > .text {
    color: white;
    z-index: 2;
    margin: 0 0 4em;
  }

  .uxui-img-container {
    grid-column: 1/-1;
    grid-row: 2;
    margin: 2em 0;
  }

  #uxui > .take-away {
    grid-row: 3/7;
  }
  .bg-svg1 {
    position: absolute;
    width: 850px;
    height: 500px;
    left: -25%;
    top: 100%;
    z-index: 1;
    animation: blue-cloud 5s infinite ease alternate;
  }

  .uxui-img {
    margin: auto;
    width: 100%;
  }

  .animation-img {
    position: relative;
  }

  #animation > .take-away {
    grid-row: 3/7;
  }

  .content-text2 {
    grid-column: 1/-1;
    grid-row: 3;
  }

  .content-text3 {
    grid-column: 1/-1;
    grid-row: 5;
  }

  .content-screenshot-container,
  .content-screenshot-container2 {
    grid-column: 1/-1;
  }

  .content-screenshot,
  .content-screenshot2 {
    width: 100%;
  }

  #content .take-away {
    grid-row: 6/9;
  }
  .basic-content-info {
    margin: 0 0 5em 0;
  }

  /** about page **/
  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .img-container {
    z-index: 1;
  }

  .name-container {
    grid-column: 2/-1;
    grid-row: 1;
    align-self: center;
    font-size: calc(30px + 0.390625vw);
    line-height: 170%;
  }

  .underline-name-container {
    width: calc(280px + 0.390625vw);
  }

  .assets-container,
  .about-main {
    grid-column: 1/-1;
    grid-row: 1;
  }

  .assets-container {
    position: relative;
    height: 100%;
  }
  .assets {
    width: 30px;
  }

  .asset1 {
    position: absolute;
    left: 200px;
  }

  .asset2 {
    position: absolute;
    left: 200px;
    bottom: 420px;
  }

  .asset3 {
    position: absolute;
    left: 220px;
    top: 200px;
  }

  .asset4 {
    position: absolute;
    left: 290px;
    top: 250px;
  }

  .asset5 {
    position: absolute;
    left: 250px;
    top: 30px;
  }

  .asset6 {
    position: absolute;
    left: 230px;
    top: 100px;
  }

  .asset7 {
    position: absolute;
    left: 250px;
    top: 300px;
  }

  .asset8 {
    position: absolute;
    left: 270px;
    top: 70px;
  }

  .asset9 {
    position: absolute;
    left: 80px;
    top: 20px;
  }

  .asset10 {
    position: absolute;
    left: 180px;
    top: 50px;
  }

  .about-sect2-border {
    grid-column: 1/-1;
    z-index: 9;
    margin: -12% 0;
  }

  .about-sect2-end-border {
    grid-column: 1/-1;
    z-index: 9;
    margin: -2px 0 0;
  }

  .about-sect2 {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
  }

  .about-padding {
    padding: 3vw 4vw;
  }

  .about-sect2 .about-text {
    grid-column: 1/2;
  }

  .about-text {
    margin: 0 0 1em;
    line-height: 150%;
    max-width: 100%;
  }

  .about-text-1 {
    padding: 0 2em;
  }

  .about-sect3 {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: var(--blue-dark);
    gap: 2em;
  }

  .book {
    grid-column: 1/2;
    width: auto;
    height: 200px;
  }

  /**** footer area ***/

  footer {
    z-index: 9;
    position: relative;
  }
  .footer-curve {
    margin-bottom: -6px;
  }

  .footer-area {
    padding: 3em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 3em;
  }

  .social-icons img {
    width: 30px;
    height: auto;
  }

  .social-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

  footer p {
    margin-bottom: 1em;
  }

  footer h2 {
    margin-bottom: 0.5em;
  }
}
/********* mobile / small screen ********/
@media screen and (max-width: 680px) {
  /* header area */
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
  }

  .logo {
    width: 70px;
  }

  /* burger menu mobile */

  #nav-div {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;
  }

  .nav-links {
    display: none;
    margin: auto;
  }

  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 10;
  }

  .burger .line {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--blue-dark);
    margin-bottom: 5px;
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .nav-links {
    display: block;
    background-color: var(--blue-light);
    border-bottom: solid 6px var(--red-dark);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    padding: 2em;
  }

  nav.active .nav-links li {
    margin: 1.5em;
    list-style: none;
    font-size: 20px;
  }

  /* index page */
  .index-text {
    display: grid;
    grid-template-columns: auto;
    position: relative;
    justify-items: center;
    align-items: center;
    padding: 0 50%;
    z-index: 8;
  }

  .index-text > :nth-child(1) {
    position: relative;
    left: -100%;
    top: 30%;
    z-index: 1;
    font-size: 60px;
  }

  .index-text > :nth-child(2) {
    position: relative;
    left: -103%;
    z-index: 1;
    font-size: 60px;
  }

  .index-text > :nth-child(3) {
    position: relative;
    left: -65%;
    top: -120%;
    font-size: 65px;
  }

  .index-text > :nth-child(4) {
    position: relative;
    left: -20%;
    top: -180%;
    z-index: 1;
    font-size: 60px;
  }

  .index-text > :nth-child(5) {
    position: relative;
    left: -20%;
    top: -210%;
    z-index: 1;
    font-size: 60px;
  }

  .heywood-underline {
    display: none;
  }

  .heywood-underline2 {
    display: none;
  }

  .svg-decorations {
    position: relative;
  }

  .decoration {
    position: absolute;
    z-index: 1;
  }

  .index-sect2-border > * {
    margin: -10px;
    z-index: 9;
    position: relative;
  }

  .index-sect2 {
    padding: 3em 3em 1em;
    gap: 3em;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    z-index: 9;
    position: relative;
  }

  .index-link-portfolio {
    position: absolute;
    grid-row: 1;
    z-index: 99;
    text-align: center;
    font-size: 3vw;
    top: 18%;
  }

  .index-cloud-1 {
    grid-row: 1;
    z-index: 1;
    width: 90%;
  }

  .index-link-about {
    position: absolute;
    grid-row: 2;
    z-index: 2;
    font-size: 3vw;
    text-align: center;
  }

  .index-cloud-2 {
    grid-row: 2;
    z-index: 1;
    width: 90%;
  }

  /* portfolio page */

  .main-portfolio {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 0 2em;
    overflow: hidden;
  }

  .wrapper {
    max-width: 35em;
    margin: auto;
  }

  .wrapper p {
    margin-bottom: 1em;
  }

  .wrapper > div {
    padding: 2em 0 10em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }

  .text {
    grid-column: 1/-1;
    grid-row: 1;
  }

  .portfolio-links {
    padding: 1em;
    display: block;
    grid-column: 1/-1;
    width: auto;
    margin: auto;
  }

  .take-away {
    padding: 2em;
    grid-row-end: 6;
    grid-column: 1/-1;
    grid-row-start: 2;
    margin: auto;
  }

  .bg-div {
    position: relative;
  }

  .bg-svg1 {
    position: absolute;
    width: 850px;
    height: 500px;
    left: -25%;
    top: 64%;
    z-index: 1;
    animation: blue-cloud 5s infinite ease alternate;
  }

  @media screen and (max-width: 570px) {
    .bg-svg1 {
      position: absolute;
      width: 850px;
      height: 500px;
      left: -36%;
      top: 69%;
      z-index: 1;
      animation: blue-cloud 5s infinite ease alternate;
    }
  }

  @media screen and (max-width: 400px) {
    .bg-svg1 {
      position: absolute;
      width: 850px;
      height: 600px;
      left: -71%;
      top: 63%;
      z-index: 1;
      animation: blue-cloud 5s infinite ease alternate;
    }
  }

  #animation .take-away {
    align-self: start;
  }

  .animation-screenshot-container {
    grid-column: 1/-1;
    width: 100% !important;
  }

  .animation-screenshot {
    width: 100%;
  }

  .bg-div {
    position: relative;
  }

  .basic-uxui-info > .text {
    color: white;
    z-index: 2;
    margin: 0 0 4em;
  }

  .uxui-img-container {
    grid-column: 1/-1;
    grid-row: 2;
  }

  @media screen and (max-width: 480px) {
    .uxui-img-container {
      margin: -3em 0 0;
    }

    .wrapper img {
      opacity: 1;
    }
  }

  @media screen and (max-width: 360px) {
    .uxui-img-container {
      margin: -6em 0 0;
    }

    .wrapper img {
      opacity: 1;
    }
  }

  #uxui > .take-away {
    grid-row: 3/7;
  }

  .uxui-img {
    margin: auto;
    width: 100%;
  }

  .animation-img {
    grid-column: 1/-1;
    margin: auto;
    max-width: 200px;
  }

  #animation > .take-away {
    grid-row: 3/7;
  }

  .cat {
    grid-row: 5;
    grid-column: 1/-1;
    margin: auto;
    width: 250px;
  }

  .cat-hover {
    display: none;
  }

  #animation > .portfolio-links {
    grid-row: 7;
  }

  .content-text2 {
    grid-column: 1/-1;
    grid-row: 3;
  }

  .content-text3 {
    grid-column: 1/-1;
    grid-row: 5;
  }

  .content-screenshot-container,
  .content-screenshot-container2 {
    grid-column: 1/-1;
  }

  .content-screenshot,
  .content-screenshot2 {
    width: 100%;
  }

  #content .take-away {
    grid-row: 6/9;
  }

  /* .basic-content-info {
    margin: 5em 0 0 0;
  } */

  /* about page */
  .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .assets-container {
    display: none;
  }

  .img-container {
    position: relative;
  }

  .img-about-01 {
    width: 100%;
    margin-bottom: -6em;
  }

  .name-animation {
    position: absolute;
    z-index: 8;
  }

  .name-animation {
    top: 19%;
    left: 43%;
    font-size: 45px;
    z-index: 1;
  }

  .underline-name-container {
    z-index: 2;
  }

  .mobile-underline {
    position: absolute;
    left: 41%;
    top: 33%;
    width: 13em;
    z-index: 1;
  }

  .about-sect2-border {
    grid-row: 2;
    grid-column: 1/-1;
    margin-bottom: -10px;
    z-index: 1;
  }

  .about-sect2 {
    grid-row: 3;
    grid-column: 1/-1;
    padding: 1em 2.5em;
    z-index: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .about-text {
    margin: 0 0 1em;
    line-height: 150%;
    max-width: 100%;
  }
  .about-text > h2 {
    padding-bottom: 1em;
  }

  .about-laptop {
    grid-column: 2/-1;
    width: 150px;
  }

  .about-sect2-end-border {
    grid-row: 4;
    grid-column: 1/-1;
    margin-top: -3px;
  }

  .about-sect3 {
    grid-row: 5;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: var(--blue-dark);
    gap: 2em;
    padding: 4em 2em;
  }

  .about-sect3 .about-text {
    grid-column: 2/-1;
  }

  .book {
    grid-column: 1/2;
    width: auto;
    height: 150px;
  }

  @media screen and (max-width: 550px) {
    .about-sect2 {
      display: grid;
      grid-template-columns: 1fr;
    }

    .about-text {
      grid-row: 1;
      grid-column: 1/-1;
    }

    .about-text > h2 {
      padding-bottom: 1em;
    }

    .about-laptop {
      grid-row: 2;
      grid-column: 1/-1;
      margin: 2em auto;
      width: 150px;
    }

    .about-sect2-end-border {
      grid-row: 4;
      grid-column: 1/-1;
    }

    .about-sect3 {
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 1fr;
      color: var(--blue-dark);
      gap: 2em;
      padding: 2em;
    }

    .about-sect3 .about-text {
      grid-column: 1/-1;
    }

    .book {
      grid-column: 1/-1;
      margin: 2em auto;
      width: 150px;
    }
  }

  /* footer area */
  .footer-curve {
    margin: 4em 0 -10px;
  }

  .footer-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    padding: 7em 2em 3em;
    justify-items: center;
  }

  .social-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

  .footer-area > :nth-child(3) {
    grid-column: 1/-1;
    margin: auto;
  }

  .social-icons img {
    width: 30px;
    height: auto;
  }

  footer p {
    margin-bottom: 1em;
  }

  footer h2 {
    margin-bottom: 0.5em;
  }
}
